header{
display:flex;
justify-content:space-between;
align-items:center;
}
#head1{
display:flex;
}
#menu img{
margin-top:10px;
}
.icons{
height:35px;
width:35px;
}
.yicons{
height:50px;
width:50px;
}
#yt{
display:flex;
margin-left:20px;
margin-top:0;
}
h1{
margin-top:4px;
}
#head2{
display:flex;
justify-content:center;
align-items:center;
}
input{
height:45px;
width:600px;
border-radius:30px 0 0 30px;
font-size:16pt;
font-weight:bold;

}
#search{
height:42px;
width:65px;
border:solid 2px black;
border-radius:0px 30px 30px 0px;
display:flex;
justify-content:center;
align-items:center;
position:sticky;
top:0;
}
#mice div{
height:42px;
width:50px;
display:flex;
justify-content:center;
align-items:center;
}
#menu2 img{
width:50px;
height:40px;
}
#head3{
display:flex;
justify-content:center;
align-items:center;
}
#signin{
height:40px;
width:120px;
border:solid thin color:black;
border-radius:30px 30px 30px 30px;
display:flex;
justify-content:center;
align-items:center;
font-weight:bolder;
font-size:18pt;
color:rgb(16,16,133);
}
aside{
width:300px;
margin-top:20px;
height:95%;
}
.line{
border-bottom:solid 2px color:black;
margin:5px 0 5px 0;
}
#hn{
position:flxed;
top:0;
background-color:white;
height:120px;
}
.body-container{
display:flex;
positoin:flxed;
height:calc(100vh-60px);
top:60px;
}
.sidebar{
background-color:#212121;
padding-top:10px;
width:240px;
overflow-y:scroll;
color:black;
}
.sidebar a{
text-decoration:none;
color:black;
}

.sidebar-items{
display:flex;
flex-direction:column;
}
.sidebar-items{
display:flex;
align-items:center;
padding:0 24px;
cursor:pointer
height:40px;
}
.sidebar-items:hover{
background-color:#4c4c4c;

}
hr{
border:1px solid rgba(255,255,255,0.1);
margin:12px 0;
}
::-webkit-scrollbar{
width:8px;
}
::-webkit-scrollbar{
background:none;
}
::-webkit-scrollbar{
background:transparent;
border-radius:5px;
}
.sidebar:hover::-webkit-scrollbar-thumb{
background:#717171;
}
::-webkit-scrollbar-thumb:hover{
background:#888;
}
.sidebar-items{
margin-right:24px;
}



















