header{
display:flex;
justify-content:space-between;
align-items:center;
}
#head1{
display:flex;
}
#menu img{
margin-top:10px;
}
.icons{
height:35px;
width:35px;
}
.yicons{
height:50px;
width:50px;
}
#yt{
display:flex;
margin-left:20px;
margin-top:0;
}
h1{
margin-top:4px;
}
#head2{
display:flex;
justify-content:center;
align-items:center;
}
input{
height:47px;
width:600px;
border-radius:30px 0 0 30px;
font-size:16pt;
font-weight:bold;

}
#search{
height:42px;
width:65px;
border:solid 2px black;
border-radius:0px 30px 30px 0px;
display:flex;
justify-content:center;
align-items:center;
position:sticky;
top:0;
}
#mice div{
height:42px;
width:50px;
display:flex;
justify-content:center;
align-items:center;
}
#menu2 img{
width:50px;
height:40px;
}
#head3{
display:flex;
justify-content:center;
align-items:center;
}
#signin{
height:40px;
width:120px;
border:solid thin color:black;
border-radius:30px 30px 30px 30px;
display:flex;
justify-content:center;
align-items:center;
font-weight:bolder;
font-size:18pt;
color:rgb(16,16,133);
}
aside{
width:300px;
margin-top:20px;
height:95%;
}
.line{
border-bottom:solid 2px color:black;
margin:5px 0 5px 0;
}
#hn{
position:flxed;
top:0;
background-color:white;
height:120px;
}
#btns{
margin-left:350px;
margin-top:20px;
}
#btns a{
background-color:rgb(177,169,169);
height:20px;
width:60px;
margin:10px;
margin-top:10px;
padding:10px;
border-radius:10px;
}
#ms{
display:flex;
}
main{
border:solid 2px black;
margin-left:350px;
margin-top:20px;
}
aside{
margin:10px;
width:200px;
height:80%;
overflow-y:auto;
}
#signin{
border-radius:20px color:black;
background-color:whitesmoke;
}
main{
widht:500px;
height:80%;
}






























